@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu LanguageChanged="OnLanguageChanged" />
</div>

<div class="main" id="page-container">
    <div class="content px-4" id="content-wrap">
        <CascadingValue Value=@LanguageId>
            @Body
        </CascadingValue>
    </div>
    <div class="modal-footer" id="footer">
        <div class="row mb-3" style="width:100%; font-size:14px">
            <table class="col" align="right">
                <tr>
                    <td>
                        <div style="text-align:right; margin-right:@($"{IconMargins}px")">
                            © 2020 Vitalii Hanych.<br />All rights reserved.
                        </div>
                    </td>
                    <td style="width:@($"{(IconSize+IconMargins*2+5)*LinkIcons.Count}px")">
                        @foreach (var linkIcon in LinkIcons)
                        {
                            <a href="@linkIcon.Key" target="_blank" style="text-decoration: none" class="LinkIcon">
                                <img src="@linkIcon.Value" style="@iconStyle" />
                            </a>
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

@code {
    private const int IconSize = 35;
    private const int IconMargins = 5;
    private string iconStyle = $"width: {IconSize}px; height: {IconSize}px; margin-left: {IconMargins}px; margin-right: {IconMargins}px";
    private List<KeyValuePair<string, string>> LinkIcons = new List<KeyValuePair<string, string>>
{
        new KeyValuePair<string, string>("https://www.linkedin.com/in/vitalii-hanych-0aab7680/",
            "/images/linkedin.png"),
        new KeyValuePair<string, string>("https://www.facebook.com/vitaliy.hanych/",
            "/images/facebook.png"),
        new KeyValuePair<string, string>("https://www.instagram.com/vitaliimilano/",
            "/images/instagram.png"),
        new KeyValuePair<string, string>("https://github.com/VitoMilanese/",
            "/images/github.png")
    };

    private int LanguageId = UILanguage.DefaultLanguage;

    private void OnLanguageChanged(int id) => LanguageId = id;
}