<div class="mb-3" style="text-align:center">
    <h1><b>There are no words</b></h1>
</div>
<div class="m-3" style="text-align:center">
    <img src="https://i.pinimg.com/originals/9f/67/65/9f6765833cee3bfe837c1dcda9370b42.jpg" />
</div>
