@page "/test"

<label for="sel">Select: </label>
<select id="sel" class="form-control col-12" @bind="@selectedId">
    <option value="1">
        11111111
    </option>
    <option value="2" disabled>
        22222222
    </option>
    <option value="3">
        33333333
    </option>
</select>
<button type="button" class="btn btn-success mt-1" style="min-height: 30pt; min-width: 100px" @onclick="Do">Do</button>

@code {
    private int selectedId = 1;

    private void Do()
    {
        if (selectedId < 3)
            selectedId++;
        else
            selectedId = 1;
    }
}
